<h2>Create new student</h2>
<div  {{status}}>
    manager added successfully! 
</div>
<form action="/create" method="POST">
    <input type="text" name="name">
    <input type="text" name="town">
    <input type="submit">
</form>

