<h2>update student</h2>

<form action="/update" method="POST">
    <input type="text" value={{name}} name="name">
    <input type="text" value={{town}} name="town">
    <input type="text" value={{id}} name="id" hidden >
    <input type="submit" value="update">
</form>

