<table>
    <tr>
        <th>NAME</th>
        <th>TOWN</th>
    </tr>
    <tbody>
        {{#each data}}
            <tr>
                <td>{{this.name}}</td>
                <td>{{this.town}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>

{{!-- {{#each to}}
        <h2>{{this.name}}</h2>
{{/each}} --}}

